Hello, B!popper!<br/><br/>

B!pop a une nouvelle date de concert!<br/>

<h4 class="article_title">{{ date.eventName }}</h4>
Date: {{ date.dateShow|date('d/m/Y') }}<br/>
Heure de début: {{ date.dateShow|date('H:i:s') }}<br/>
Ville: {{ date.city }}<br/>
{% if date.room %}
    <span>Salle: {{ date.room }}<br/>
{% endif %}
{% if date.otherBands %}
    Avec: {{ date.otherBands }}<br/>
{% endif %}
{% if date.price %}
    Tarif: {{ date.price }} €<br/>
{% endif %}
{% if date.sellersLink %}
    <a target="_blank" href="{{ date.sellersLink }}" class="text-link">Billetterie</a><br/>
{% endif %}
<br/>
A très bientôt sur le <a href="{{ url('date_index') }}" >site</a>,<br/>
B!pop
