<div class="add_sc_playlist">
  <table class="table">
    <tr>
      <th class="col-sm-12">
        <span class="col-sm-9">Ajouter une playlist Soundcloud</span>
        <span class="col-sm-3"><a href="{{ path('logout') }}" >Déconnexion</a></span>
      </th>
    </tr>
    <tr>
      <td>
        {{ form_start(form, {'attr':{class: 'form-custom'}}) }}
        {{ form_errors(form) }}
        <div class="form-group col-sm-12">
          {{ form_label(form.title, "Titre: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.title) }}
          {{ form_widget(form.title, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.url, "Code: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.url) }}
          {{ form_widget(form.url, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="col-sm-12">
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </td>
    </tr>
  </table>
</div>
