<div class="add_news">
  <table class="table">
    <tr>
      <th class="col-sm-12">
        <span class="col-sm-8">Ajouter une news</span>
        <span class="col-sm-4"><a class="text-link" href="{{ path('logout') }}" >Déconnexion</a></span>
      </th>
    </tr>
    <tr>
      <td>
        {{ form_start(form, {'attr':{class: 'form-custom'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
          {{ form_label(form.title, "Titre: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.title) }}
          {{ form_widget(form.title, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.content, "Contenu: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.content) }}
          {{ form_widget(form.content, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="col-sm-12">
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </td>
    </tr>
  </table>
</div>
