{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  {% if app.user %}
    <div class="col-sm-12">
        <div class="add_form col-sm-5">
          {{ render(controller('WebsiteBundle:Video:add', { 'request': app.request })) }}
        </div>

        <div class="add_form col-sm-7">
          {{ render(controller('WebsiteBundle:News:add', { 'request': app.request })) }}
        </div>
    </div>
  {% endif %}
  
  {{ render(controller('WebsiteBundle:Video:show')) }}

  <table class="table">
    <tr>
      <th>Dernière news</th>
    </tr>
    <tr>
      <td>
        <h4 class="article_title">{{ lastAdvert.title }}</h4>
        <h5 class="article_date">Le {{ lastAdvert.dateCreation|date('d/m/Y') }}</h5>
        <p>{{ lastAdvert.content }}</p>
      </td>
    </tr>
  </table>
{% endblock %}
