{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <h1>News</h1>

  <h4>Ajouter une news</h4>
  <div class="panel panel-default">
    {{ render(controller('WebsiteBundle:News:add', { 'request': app.request })) }}
  </div>

  {% for advert in adverts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ advert.title }}
        </h3>
      </div>
      <div class="panel-body">
        {{ advert.content }}
      </div>
      <div class="panel-footer">
        Posté le {{ advert.dateCreation|date('d/m/Y') }} à {{ advert.dateCreation|date('H:m:s') }} par {{ advert.author }}
      </div>
    </div>
  {% else %}
    <p class="panel panel-default">
      Il n'y a pas encore de news à afficher
    </p>
  {% endfor %}
{% endblock %}
