{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <div class="panel panel-default">
    {{ render(controller('WebsiteBundle:News:add', { 'request': app.request })) }}
  </div>

    <table class="table">
      <tr>
        <th>Dernière news</th>
      </tr>
      <tr>
        <td>
          <h4 class="article_title">{{ lastAdvert.title }}</h4>
          <h5 class="article_date">Le {{ lastAdvert.dateCreation|date('d/m/Y') }}</h5>
          <p>{{ lastAdvert.content }}</p>
        </td>
      </tr>
    </table>
{% endblock %}
