{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <h1>News</h1>

  <h4>Ajouter une news</h4>
  <div class="panel panel-default">
    {{ render(controller('WebsiteBundle:News:add', { 'request': app.request })) }}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ lastAdvert.title }}
      </h3>
    </div>
    <div class="panel-body">
      {{ lastAdvert.content }}
    </div>
    <div class="panel-footer">
      Posté le {{ lastAdvert.dateCreation|date('d/m/Y') }} à {{ lastAdvert.dateCreation|date('H:m:s') }} par {{ lastAdvert.author }}
    </div>
  </div>
{% endblock %}
