<div class="add_date">
  <table class="table">
    <tr>
      <th>Ajouter une date</th>
    </tr>
    <tr>
      <td>
        {{ form_start(form, {'attr':{class: 'form-custom'}}) }}
        {{ form_errors(form) }}
        <div class="form-group col-sm-12">
          {{ form_label(form.eventName, "Nom événement: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.eventName) }}
          {{ form_widget(form.eventName, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.dateShow, "Date: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.dateShow) }}
          {{ form_widget(form.dateShow, {'attr': {'class': 'col-sm-9 date_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.room, "Salle: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.room) }}
          {{ form_widget(form.room, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.city, "Ville: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.city) }}
          {{ form_widget(form.city, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="col-sm-12">
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </td>
    </tr>
  </table>
</div>
