<div class="add_date">
  <table class="table">
    <tr>
      <th class="col-sm-12">
        <span class="col-sm-9">Ajouter une date</span>
        <span class="col-sm-3"><a class="text-link" href="{{ path('logout') }}" >Déconnexion</a></span>
      </th>
    </tr>
    <tr>
      <td>
        {{ form_start(form, {'attr':{class: 'form-custom'}}) }}
        {{ form_errors(form) }}
        <div class="form-group col-sm-12">
          {{ form_label(form.eventName, "Nom événement: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.eventName) }}
          {{ form_widget(form.eventName, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.dateShow, "Date: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.dateShow) }}
          {{ form_widget(form.dateShow, {'attr': {'class': 'col-sm-9 date_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.room, "Salle: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.room) }}
          {{ form_widget(form.room, {'attr': {'class': 'col-sm-5 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.city, "Ville: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.city) }}
          {{ form_widget(form.city, {'attr': {'class': 'col-sm-5 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.poster, "Affiche: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.poster) }}
          {{ form_widget(form.poster, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.otherBands, "Autres groupes: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.otherBands) }}
          {{ form_widget(form.otherBands, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.price, "Prix: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.price) }}
          {{ form_widget(form.price, {'attr': {'class': 'col-sm-2 text_inputs'}}) }}
        </div>
        <div class="form-group col-sm-12">
          {{ form_label(form.sellersLink, "Billetterie: ", {'label_attr': {'class': 'col-sm-3'}}) }}
          {{ form_errors(form.sellersLink) }}
          {{ form_widget(form.sellersLink, {'attr': {'class': 'col-sm-9 text_inputs'}}) }}
        </div>
        <div class="col-sm-12">
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </td>
    </tr>
  </table>
</div>
