{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  {% if app.user %}

    <table class="table">
      <tr>
        <th>Êtes-vous sûr de vouloir supprimer cette date?</th>
      </tr>
      <tr>
        <td>
          <div class="col-sm-4">
            {% if date.poster %}
              <center>
                <img src="{{ asset('images/' ~ date.poster) }}" style="max-width: 250px; max-height: 170px;">
              </center>
            {% endif %}
          </div>
          <div class="col-sm-6">
            <h4 class="article_title">{{ date.eventName }}</h4>
            Date: {{ date.dateShow|date('d/m/Y') }}<br/>
            Heure de début: {{ date.dateShow|date('H:i:s') }}<br/>
            Ville: {{ date.city }}<br/>
            {% if date.room %}
              <span>Salle: {{ date.room }}<br/>
              {% endif %}
              {% if date.otherBands %}
                Avec: {{ date.otherBands }}<br/>
              {% endif %}
              {% if date.price %}
                Tarif: {{ date.price }} €<br/>
              {% endif %}
              {% if date.sellersLink %}
                <a target="_blank" href="{{ date.sellersLink }}" class="text-link">Billetterie</a><br/>
              {% endif %}
          </div>
        </td>
      </tr>
    </table>
          
    <div class="col-sm-8"></div>
    <div class="col-sm-4 form-group">
      <a class="btn btn-default" href="{{ path('date_show') }}" >Annuler</a>
      <a class="btn btn-danger" href="{{ path('date_delete', { 'id': date.id }) }}" >Supprimer</a>
    </div>
  {% endif %}
{% endblock %}
