<table class="table">
  <tr>
    <th>Prochaines dates</th>
  </tr>
  {% for date in dates %}
    <tr>
      <td>
        <h4 class="article_title">{{ date.eventName }}</h4>
        <span>Le {{ date.dateShow|date('d/m/Y') }}
        à {{ date.dateShow|date('H:i:s') }},
        {% if date.room %}
          {{ date.room }},
        {% endif %}
        {{ date.city }}</span>
      </td>
    </tr>
  {% else %}
    <tr>
      <td>
        Il n'y a aucune date prévue pour le moment.
      </td>
    </tr>
  {% endfor %}
</table>
