{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  {% if app.user %}
    <div class="add_form">
      {{ render(controller('WebsiteBundle:Date:add', { 'request': app.request })) }}
    </div>
  {% endif %}

  <table class="table">
    <tr>
      <th>Toutes les dates à venir</th>
    </tr>
    {% for date in dates %}
      <tr>
        <td>
          <h4 class="article_title">{{ date.eventName }}</h4>
          <span>Date: {{ date.dateShow|date('d/m/Y') }}</span>
          <span>Heure de début: {{ date.dateShow|date('H:i:s') }}</span>
          <span>Ville: {{ date.city }}</span>
          {% if date.room %}
            <span>Salle: {{ date.room }}
          {% endif %}
        </td>
      </tr>
    {% else %}
      <tr>
        <td>
          Il n'y a aucune date prévue pour le moment.
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
