{% extends "WebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  {% if app.user %}
    <div class="add_form">
      {{ render(controller('WebsiteBundle:Date:add', { 'request': app.request })) }}
    </div>
  {% endif %}

  <table class="table">
    <tr>
      <th>Toutes les dates à venir</th>
    </tr>
    {% for date in dates %}
      <tr>
        <td>
          <div class="col-sm-4">
            {% if date.poster %}
              <center>
                <img src="{{ asset('images/' ~ date.poster) }}" style="max-width: 250px; max-height: 170px;">
              </center>
            {% endif %}
          </div>
          <div class="col-sm-6">
            <h4 class="article_title">{{ date.eventName }}</h4>
              Date: {{ date.dateShow|date('d/m/Y') }}<br/>
              Heure de début: {{ date.dateShow|date('H:i:s') }}<br/>
              Ville: {{ date.city }}<br/>
              {% if date.room %}
                <span>Salle: {{ date.room }}<br/>
              {% endif %}
              {% if date.otherBands %}
                Avec: {{ date.otherBands }}<br/>
              {% endif %}
              {% if date.price %}
                Tarif: {{ date.price }} €<br/>
              {% endif %}
              {% if date.sellersLink %}
                <a target="_blank" href="{{ date.sellersLink }}">Billetterie</a><br/>
              {% endif %}
          </div>
          <div class="col-sm-2"></div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td>
          Il n'y a aucune date prévue pour le moment.
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
